# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
*.log
npm-debug.log*

# Client build
client/dist/
client/node_modules/

/src/generated/prisma
